.form {
    display: flex;
    padding: 25px;
    row-gap: 10px;
    flex-direction: column;
    &-control {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        input {
            &:hover {
                border-color: #000;
                transition: 0.8s;
            }
        }
    }
    .number-line {
        display: flex;
    }

    .end-refer {
        display: flex;
    }

    .small-message {
        position: relative;
        bottom: 5px;
        color: #e74c3c;
        left: 0;
        visibility: visible;
        font-weight: 600;
    }
}
@media only screen and (max-width: 490px) {
    .number-line {
        flex-direction: column;
    }
}
