button {
    width: 100%;
    background-color: #d80032;
    border-radius: 10px;
    border: 2px solid #d80032;
    font-size: 20px;
    padding: 10px;
    color: #eee;
    font-weight: bold;
    margin-top: 25px;
    &:hover {
        background-color: #ef233c;
        transition: 0.2s;
    }
}
