* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #80807f -39%, #ff0000 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}