* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #EF233C 2%, #D80032 100%);
    padding: 25px;
}